.WeatherAppTitle {
  justify-content: center;
  font-size: 60px;
}
.container {
  color: rgb(216, 228, 238);
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
}
.SearchBox {
  padding-top: 30px;
}
