.WeatherAppTitle {
  justify-content: center;
  font-size: 60px;
  color: var(--main-color);
}
.container {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 10px;
}
.SearchBox {
  padding-top: 0px;
}
:root {
  --main-color: rgb(167, 182, 198);
  --secondary-color: rgb(216, 228, 238);
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-size: cover;
}

h1 {
  color: var(--main-color);
  font-size: 30px !important;
  font-weight: 200;
  line-height: 28px;
  padding-left: 16px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 100;
  line-height: 1.5;
}

li:first-letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

.card {
  margin-left: 20px;
  max-width: 800px;
  max-height: 210px;
  text-align: center;
  padding-top: 10px;
}

.overview {
  text-align: left;
  max-width: 630px;
  padding: 10px 5px 15px 5px;
  text-align: left;
}
.col-5 {
  max-width: 250px;
  padding-top: 20px;
  margin-left: 20px;
  text-align: center;
}
.col-6 {
  max-width: 300px;
  padding-top: 20px;
  padding: 20px;
  margin-left: 30px;
  text-align: center;
  font-size: 40px;
}

.link a {
  color: var(--main-color);
  text-align: center;
  font-size: 15px;
}
.fore {
  margin-top: -40px;
}
