.Weather .card {
  text-align: center;
  height: 150px;
  max-width: 250px;
  border: none;
}

.Weather .weather-forecast {
  text-align: center;
  color: var(--main-color);
}

.Weather .weather-forecast-date {
  text-align: center;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 16px;
}
.Weather .weather-forecast-date1 {
  text-align: center;
  margin-top: 0px;
  margin-left: -25px;
  margin-right: 30px;
  font-size: 16px;
}
.Weather .weather-forecast-temperatures {
  text-align: center;
  margin-left: 0px;
  font-size: 12px;
}
.Weather .weather-forecast-temperature-max {
  text-align: center;
  font-weight: 100;
  font-size: 16px;
  padding-left: 10px;
}
.Weather .weather-forecast-temperature-min {
  opacity: 0.75;
  text-align: center;
  font-weight: 100;
  font-size: 16px;
  padding-left: 10px;
}

@media (max-width: 800px) {
  .Weather .weather-forecast .card {
    text-align: center;
    height: 200px;
    width: 200px;
    padding: 0px;
    margin: 0px;
  }

  .Weather .weather-forecast-date {
    font-size: 10px;
    text-align: center;
  }
}
.Icon2 {
  max-width: 20px;
  max-height: 20px;
  color: var(--main-color);
  padding-left: -10px;
}
.weather-forecast-top {
  text-align: center;
  padding-left: 60px;
  padding-right: 0px;
  margin-left: 20px;
}
.day {
  text-align: center;
  margin-left: 80px;
}
.container3 {
  margin-top: -40px;
  padding-left: -20px;
  margin-right: 20px;
}
